<extend name="Public:base" />
<block name="title">资讯-大元氏</block>

<block name="cssjs">

<style type="text/css">
#WSCSlideWrapperNewsIndex img {
	border: 0;
	*display: inline;
}

#WSCSlideWrapperNewsIndex li {
	border: 0;
	list-style-type: none;
}

#WSCSlideWrapperNewsIndex ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#WSCSlideWrapperNewsIndex {
	width: 100%;
	 position : relative;
	margin: 10px auto;
	cursor: move;
	position: relative;
	height: 230px;
}

</style>


</block>

<block name="navbar">
<ul>
	<li><a href="__APP__/News/index"
		class="ui-btn-active ui-state-persist" rel="external">资讯</a></li>
	<li><a href="__APP__/Campaign/index" rel="external">活动</a></li>
	<li><a href="__APP__/Restaurant/index" rel="external">餐饮</a></li>
	<li><a href="#anylink">商店</a></li>
	<li><a href="#anylink">论坛</a>
</ul>
</block>

<block name="main">
<div class="WSCSlideWrapperNewsIndex" id="WSCSlideWrapperNewsIndex">
	<div>
		<a><img
			src="__IMG__/1.jpg" /></a> <a><img
			src="__IMG__/2.jpg" /></a> <a><img
			src="__IMG__/3.jpg" /></a> <a><img
			src="__IMG__/4.jpg" /></a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		/*
		 $('.WSCSlideWrapper').height(
		 $('.WSCSlideWrapper').width() * 0.3);

		 $('#WSCSlideWrapperTwo').height(
		 $('#WSCSlideWrapperTwo').width() * 1.5);
		 */
		$('.WSCSlideWrapperNewsIndex').touchslide({
			timecontrol : 4000,
			animatetime : 300,
			direction : 'left',
			navshow : true,
			canvassuport : true
		});
	});
</script> 

<ul data-role="listview" data-inset="true">
	<li data-role="divider"><b>最新资讯</b></li>
	<li><a href="#"> <img src="chrome.png">
			<h2>Google Chrome</h2>
			<p>Google Chrome 是免费的开源 web 浏览器。发布于 2008 年。</p>
	</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li><a href="#">列表项</a></li>
	<li data-icon="delete"><a href="#">data-icon="delete"</a></li>
	<li>
		<div align="center">
			<a href="__APP__/News/lists">全部</a>
		</div>
	</li>
</ul>

</block>
